*, body {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-main {
    flex-grow: 1;
}

footer{
    height: 100px;

}